<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
      <%= render 'user_info', {user: current_user,book: @book} %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Users</h2>
        <table class="table">
          <tbody>
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th colspan="3"></th>
              </tr>
          </thead>
          <% @users.each do |user| %>
          <div>
            <tr>
              <td><%= image_tag user.get_profile_image(80,80) %><br></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show",user_path(user.id) %> </td>
            </tr>
          </div>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>